html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
    font-family: sans-serif;
    color: #222;
}
::-moz-selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    vertical-align: middle;
}
button,
input {
    line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    overflow: visible;
}
button[disabled],
input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
input:invalid,
textarea:invalid {
    background-color: #f0dddd;
}
* html .jspCorner {
    margin: 0 -3px 0 0;
}
*:focus {
    outline: none;
}
#login-bg {
    background: #707070;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #606060), color-stop(1, #707070));
    background: -ms-linear-gradient(bottom, #606060, #707070);
    background: -moz-linear-gradient(center bottom, #606060 0%, #707070 100%);
    height: 100%;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}
#login-bg .texture {
    background: url('../images/irongrip.png') repeat;
    height: 100%;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
#login-bg .texture .logos-footer {
    text-align: center;
    float: left;
    width: 403px;
    padding-top: 15px;
}
#login-bg .center-me {
    position: absolute;
    height: 44em;
    width: 47em;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-top: -22em;
    margin-left: -35em;
}
#login-bg .center-me > figure {
    width: 403px;
    height: 367px;
    float: left;
}
#login-bg .ip {
    width: 300px;
    float: right;
    text-align: center;
    color: #402909;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    -moz-text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    -webkit-text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    font-size: 14px;
}
#login-bg a.forgot,
#login-bg a.forgot:visited,
#login-bg a.forgot:active {
    margin: 20px 0px;
    float: right;
    text-align: center;
    color: #402909;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    -moz-text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    -webkit-text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    font-size: 14px;
    text-decoration: none;
    width: 300px;
    display: block;
    margin-bottom: 10px;
}
#login-bg .login-right {
    width: 300px;
    float: right;
}
#login-bg .login-right .logo-header {
    margin: 15px 0px;
    text-align: center;
}
#login-bg .login-right form > p {
    font-size: 14px;
    color: #fef5df;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    margin: 0 0 0 15px;
}
#login-bg .login-right form input[type="text"],
#login-bg .login-right form input[type="password"] {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #666), color-stop(1, #535353));
    background: -ms-linear-gradient(bottom, #666, #535353);
    background: -moz-linear-gradient(center bottom, #666 0%, #535353 100%);
    width: 260px;
    padding: 0 20px;
    border: none;
    outline: none;
    height: 38px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.3);
    margin: 0 0 20px 0;
    color: #fef5df;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 14px;
}
#login-bg .login-right form input[type="submit"] {
    background: #96b353;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5a8132), color-stop(1, #96b353));
    background: -ms-linear-gradient(bottom, #5a8132, #96b353);
    background: -moz-linear-gradient(center bottom, #5a8132 0%, #96b353 100%);
    width: 300px;
    padding: 3px 20px 0;
    border: none;
    outline: none;
    height: 38px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.7), 0 3px #3a4a12;
    -moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.7), 0 3px #3a4a12;
    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.7), 0 3px #3a4a12;
    margin: 10px 0 5px;
    border: 1px solid #35561e;
    color: #f5ffe3;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    font-size: 20px;
    font-weight: bold;
}
#login-bg .login-right form input[type="submit"]:hover {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.8), 0 3px #3a4a12;
    -moz-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.8), 0 3px #3a4a12;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.8), 0 3px #3a4a12;
}
#login-bg .login-right form input[type="submit"]:active {
    margin: 15px 0 0;
    border: none;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8), inset 0 1px 3px rgba(0, 0, 0, 0.8), 0 1px rgba(255, 255, 255, 0.3);
}
input[type="submit"] {
    float: right;
}

.logo {
    font-family: Marketing, sans-serif;
    font-size: 80px;
    color: white;
    text-shadow: 0 20px 20px black;
    margin-left: 33px;
    margin-bottom: 50px;
}