<div id="login-bg">
  <div class="texture">
      <div class="center-me">
          <div class="login-right">
              <div class="logo">Outkept</div>
              <form class="clearfix">
                <p>Username</p>
                <input type="text" id="username" name="username">
                <p>Password</p>
                <input type="password" id="password" name="password">
                <input type="submit" id="go" value="ENTER">
              </form>
          </div>
      </div>
  </div>
</div>